## Pruebas

In [47]:
import numpy as np
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [32]:
usuarios=pd.read_csv('Tabla_perfiles.csv')
ofertas=pd.read_csv('Tabla_ofertas.csv')

In [33]:
usuarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id_Usuario    652 non-null    object
 1   Id_categoria  652 non-null    object
 2   Titulo        652 non-null    object
 3   Nivel         652 non-null    int64
dtypes: int64(1), object(3)
memory usage: 20.5+ KB

In [34]:
ofertas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 698 entries, 0 to 697
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id_offer      698 non-null    object
 1   Id_categoria  698 non-null    object
 2   Titulo        698 non-null    object
 3   Nivel         698 non-null    int64
dtypes: int64(1), object(3)
memory usage: 21.9+ KB

In [35]:
usuarios.head()

,Id_Usuario,Id_categoria,Titulo,Nivel
0,U0001,DOBLE301,Doble Grado en Ingeniería de Materiales + Inge...,2
1,U0001,ING010,Grado en Bioingeniería,2
2,U0001,IDIOMA004,Aleman,6
3,U0001,IDIOMA007,Árabe,6
4,U0001,HAB006,Toma de decisiones,1

In [36]:
ofertas.head()

,Id_offer,Id_categoria,Titulo,Nivel
0,OFF0001,DOBLE316,Doble Grado en Ingeniería Eléctrica + Ingenier...,2
1,OFF0001,ELE02B,Título Profesional Básico en Instalaciones Ele...,2
2,OFF0001,IDIOMA007,Árabe,1
3,OFF0001,IDIOMA007,Árabe,5
4,OFF0001,HAB012,Negociación,1

In [37]:
usuarios.keys()

Index(['Id_Usuario', 'Id_categoria', 'Titulo', 'Nivel'], dtype='object')

In [38]:
ofertas.keys()

Index(['Id_offer', 'Id_categoria', 'Titulo', 'Nivel'], dtype='object')

In [39]:
#Si tenemos una tabla con tres columnas: id/skill/valor
def tabla_usuarios(tabla):
    df=tabla.pivot_table(index='Id_Usuario', columns='Id_categoria', values='Nivel')
    df=df.fillna(0)
    return df

In [40]:
def tabla_ofertas(tabla):
    df=tabla.pivot_table(index='Id_offer', columns='Id_categoria', values='Nivel')
    df=df.fillna(0)
    return df

In [41]:
df_usuarios=tabla_usuarios(usuarios)

In [42]:
df_ofertas=tabla_ofertas(ofertas)

In [43]:
df_usuarios.keys()

Index(['ADGG0408', 'ADGN0108', 'AFD087_3', 'AFDA0111', 'AFDA0611', 'AGAJ0108',
       'AGAN0211', 'AGAR0108', 'AGAR0110', 'AGAR0208',
       ...
       'SOCIALES133', 'SOCIALES140', 'SOCIALES148', 'SOCIALES151',
       'SOCIALES152', 'SOCIALES164', 'SOCIALES170', 'SOCIALES183', 'SSC02',
       'VICI'],
      dtype='object', name='Id_categoria', length=194)

In [44]:
caracteristicas_usuarios = df_usuarios.keys()
caracteristicas_ofertas = df_ofertas.keys()

In [45]:
len(df_usuarios) #numero de filas

100

In [46]:
'''# Calculamos las columnas que no estan en ambos dataframes
columnas_faltantes_usuarios = list(set(caracteristicas_ofertas) - set(caracteristicas_usuarios))
columnas_faltantes_ofertas = list(set(caracteristicas_usuarios) - set(caracteristicas_ofertas))

#Los dos dataframes tienen que tener la misma extructura
usuarios_faltantes=pd.DataFrame(0, index=range(len(df_usuarios)), columns=columnas_faltantes_usuarios)
ofertas_faltantes=pd.DataFrame(0, index=range(len(df_ofertas)), columns=columnas_faltantes_ofertas)

df_usuarios_final = pd.concat([df_usuarios, usuarios_faltantes], axis=1)
df_ofertas_final=pd.concat([df_ofertas, ofertas_faltantes], axis=1)'''

'# Calculamos las columnas que no estan en ambos dataframes\ncolumnas_faltantes_usuarios = list(set(caracteristicas_ofertas) - set(caracteristicas_usuarios))\ncolumnas_faltantes_ofertas = list(set(caracteristicas_usuarios) - set(caracteristicas_ofertas))\n\n#Los dos dataframes tienen que tener la misma extructura\nusuarios_faltantes=pd.DataFrame(0, index=range(len(df_usuarios)), columns=columnas_faltantes_usuarios)\nofertas_faltantes=pd.DataFrame(0, index=range(len(df_ofertas)), columns=columnas_faltantes_ofertas)\n\ndf_usuarios_final = pd.concat([df_usuarios, usuarios_faltantes], axis=1)\ndf_ofertas_final=pd.concat([df_ofertas, ofertas_faltantes], axis=1)'

In [48]:
#Funcion que mira las columnas que no estan en la tabla1 y si en la tabla2
#lo mismo que en la celda anterior pero con una funcion
def completar_tablas(tabla1,tabla2):
    caracteristicas_1 = tabla1.keys()
    caracteristicas_2 = tabla2.keys()
    columnas_faltantes=list(set(caracteristicas_2) - set(caracteristicas_1))

    df_faltantes=pd.DataFrame(0, index=tabla1.index, columns=columnas_faltantes)
    df_final=pd.concat([tabla1,df_faltantes],axis=1).sort_index(axis=1)

    return df_final

df_usuarios_final=completar_tablas(df_usuarios, df_ofertas) #tabla de usuarios
df_ofertas_final=completar_tablas(df_ofertas, df_usuarios)

Modelo KNN

No hacer mucho caso a esto, no da buen resultado

In [226]:
df_usuarios_final.keys()

Index(['ADGG0408', 'ADGN0108', 'AFD087_3', 'AFDA0111', 'AFDA0611', 'AGAJ0108',
       'AGAN0211', 'AGAR0108', 'AGAR0110', 'AGAR0208',
       ...
       'DOBLE494', 'SOCIALES046', 'SSC01', 'TCP', 'ING119', 'DOBLE088',
       'CSALUD003', 'AGAR0111', 'TCPN', 'DOBLE333'],
      dtype='object', length=320)

In [181]:
caracteristicas_usuarios = df_usuarios_final.keys()
caracteristicas_ofertas = df_ofertas_final.keys()

#Modelo de KNN 
knn_modelo = NearestNeighbors(n_neighbors=5, algorithm='auto')
knn_modelo.fit(df_ofertas_final[caracteristicas_ofertas])

primer_estudiante = df_usuarios_final.iloc[0][caracteristicas_usuarios].values.reshape(1, -1)  # Convertimos a una matriz de una fila
distancias, indices = knn_modelo.kneighbors(primer_estudiante)

ofertas_recomendadas = df_ofertas_final.iloc[indices[0]]
ofertas_recomendadas.index

NearestNeighbors()

In [208]:
# Calcula la matriz de correlación entre df1 y df2
matriz_correlacion = df_usuarios_final.corrwith(df_ofertas_final)

# Visualiza la matriz de correlación
print(matriz_correlacion)

ADGG0408    NaN
ADGN0108    NaN
AFD087_3    NaN
AFDA0111    NaN
AFDA0611    NaN
             ..
DOBLE088    NaN
CSALUD003   NaN
AGAR0111    NaN
TCPN        NaN
DOBLE333    NaN
Length: 320, dtype: float64

In [209]:
df_usuarios_final.keys()

Index(['ADGG0408', 'ADGN0108', 'AFD087_3', 'AFDA0111', 'AFDA0611', 'AGAJ0108',
       'AGAN0211', 'AGAR0108', 'AGAR0110', 'AGAR0208',
       ...
       'DOBLE494', 'SOCIALES046', 'SSC01', 'TCP', 'ING119', 'DOBLE088',
       'CSALUD003', 'AGAR0111', 'TCPN', 'DOBLE333'],
      dtype='object', length=320)

OTRA OPCION QUE NO SEA KNN:

In [18]:
#Cuenta cuantas habilidades coinciden de un usuario y una oferta en concetro
columnas= df_usuarios_final.keys()

primer_usu=df_usuarios_final.iloc[0]
primera_oferta = df_ofertas_final.iloc[4]

contador=0 

for i in primer_usu.index:
    if (primera_oferta.index == i).any() and primera_oferta[i] != 0 and primer_usu[i]!=0:
        contador += 1

contador

3

In [19]:
#Comparamos un usuario con todas las ofertas
#sacamos los trabajos donde coindicen dos habilidades o mas
primer_usu=df_usuarios_final.iloc[0]
lista_ofertas=[]

for j in range(len(df_ofertas_final)):
    oferta_j = df_ofertas_final.iloc[j]

    contador=0
    for i in primer_usu.index:
        if (oferta_j.index == i).any() and oferta_j[i] != 0 and primer_usu[i]!=0:
            contador += 1

    if contador>2:
        lista_ofertas.append(oferta_j.name)

lista_ofertas

['OFF0005', 'OFF0007']

In [49]:
#Escojiendo un usuario nos devuelve las ofertas donde coinciden dos o mas habilidades
def recomendaciones(usuario):
    lista_ofertas=[]

    for j in range(len(df_ofertas_final)):
        oferta_j = df_ofertas_final.iloc[j]

        contador=0
        for i in usuario.index:
            if (oferta_j.index == i).any() and oferta_j[i] != 0 and usuario[i]!=0:
                contador += 1

        if contador>4:
            lista_ofertas.append(oferta_j.name)

    return lista_ofertas
        
recomendaciones(df_usuarios_final.iloc[0])

['OFF00101']

Ahora quiero hacerlo al reves: para cada oferta quiero que recomiende usuarios adecuados.

In [29]:
#a las ofertas se le recomiendan usuarios
def recomendacion_usuario(oferta):
    lista_usuarios=[]

    for j in range(len(df_usuarios_final)):
        usuario_j = df_usuarios_final.iloc[j]

        contador=0
        for i in oferta.index:
            if (usuario_j.index == i).any() and usuario_j[i] != 0 and oferta[i]!=0:
                contador += 1

        if contador>2:
            lista_usuarios.append(usuario_j.name)

    return lista_usuarios
        
recomendacion_usuario(df_ofertas_final.iloc[22])

['U0012', 'U0077']

Los grados y fps