# DESAFIO

In [1]:
import numpy as np
import pandas as pd

In [9]:
xls = pd.ExcelFile('Datos_principales.xlsx')
sheet_names = xls.sheet_names
len(sheet_names)

6

In [2]:
df_Grados=pd.read_excel('Datos_principales.xlsx',sheet_name=0)
df_FP=pd.read_excel('Datos_principales.xlsx',sheet_name=1)
df_Habilidades=pd.read_excel('Datos_principales.xlsx',sheet_name=2)
df_Idioma=pd.read_excel('Datos_principales.xlsx',sheet_name=3)
df_Bizkaia=pd.read_excel('Datos_principales.xlsx',sheet_name=4)

Nombre de columnas: idioma3, idioma4, ciencias002,sociales003
 - yo haria. de todas las columnas que tiene la oferta de empleo mirar las que tiene el usuario. poner algunas que se tienen que cumplir si o si (carrera,idioma,...)
 -

In [9]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

# Ejemplo de datos de estudiantes
students_data = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Ana'],
    'Formacion': ['Ingeniería', 'Ciencias', 'Economía', 'Arquitectura'],
    'Idiomas': [['Inglés', 'Francés'], ['Inglés', 'Alemán'], ['Inglés'], ['Inglés', 'Español']],
    'Experiencia': ['2 años', '3 años', '1 año', '2 años']
}

# Ejemplo de datos de ofertas de empleo
job_offers_data = {
    'Puesto': ['Desarrollador web', 'Analista de datos', 'Consultor financiero'],
    'Estudios': ['Ingeniería', 'Ciencias', 'Economía'],
    'Idiomas': [['Inglés'], ['Inglés', 'Alemán'], ['Inglés', 'Español']],
    'Experiencia': ['1 año', '2 años', '3 años']
}

df_students = pd.DataFrame(students_data)
df_job_offers = pd.DataFrame(job_offers_data)

# Ingeniería de características
# Codificación one-hot para las variables categóricas
df_students_encoded = pd.get_dummies(df_students, columns=['Formacion'])
df_job_offers_encoded = pd.get_dummies(df_job_offers, columns=['Estudios'])

# Seleccionamos solo las características relevantes para el modelo
student_features = df_students_encoded.drop(columns=['Nombre'])
job_offer_features = df_job_offers_encoded.drop(columns=['Puesto'])

# Modelado
# Entrenar modelo KNN
k = 2  # número de vecinos
knn = NearestNeighbors(n_neighbors=k, algorithm='auto')
knn.fit(job_offer_features)

# Recomendación
# Para cada estudiante, encuentra las ofertas de empleo más similares
for i, student_row in df_students.iterrows():
    student_features_i = student_features.iloc[[i]]  # características del estudiante actual
    distances, indices = knn.kneighbors(student_features_i)
    recommended_jobs = df_job_offers.iloc[indices[0]]
    print(f"Recomendaciones para el estudiante {student_row['Nombre']}:")
    print(recommended_jobs)

ValueError: setting an array element with a sequence.

Algoritmo.

In [11]:
import pandas as pd
from sklearn.neighbors import NearestNeighbors

# Ejemplo de datos de estudiantes
students_data = {
    'Nombre': ['Juan', 'María', 'Pedro', 'Ana'],
    'Formacion': ['Ingeniería', 'Ciencias', 'Economía', 'Arquitectura'],
    'Idiomas': [['Inglés', 'Francés'], ['Inglés', 'Alemán'], ['Inglés'], ['Inglés', 'Español']],
    'Experiencia': ['2 años', '3 años', '1 año', '2 años']
}

# Ejemplo de datos de ofertas de empleo
job_offers_data = {
    'Puesto': ['Desarrollador web', 'Analista de datos', 'Consultor financiero'],
    'Estudios': ['Ingeniería', 'Ciencias', 'Economía'],
    'Idiomas': [['Inglés'], ['Inglés', 'Alemán'], ['Inglés', 'Español']],
    'Experiencia': ['1 año', '2 años', '3 años']
}

df_students = pd.DataFrame(students_data)
df_job_offers = pd.DataFrame(job_offers_data)

In [16]:
df_students

  Nombre     Formacion            Idiomas Experiencia
0   Juan    Ingeniería  [Inglés, Francés]      2 años
1  María      Ciencias   [Inglés, Alemán]      3 años
2  Pedro      Economía           [Inglés]       1 año
3    Ana  Arquitectura  [Inglés, Español]      2 años

In [17]:
df_job_offers

                 Puesto    Estudios            Idiomas Experiencia
0     Desarrollador web  Ingeniería           [Inglés]       1 año
1     Analista de datos    Ciencias   [Inglés, Alemán]      2 años
2  Consultor financiero    Economía  [Inglés, Español]      3 años

In [12]:
# Ingeniería de características
# Codificación one-hot para las variables categóricas
df_students_encoded = pd.get_dummies(df_students, columns=['Formacion'])
df_job_offers_encoded = pd.get_dummies(df_job_offers, columns=['Estudios'])

In [18]:
df_students_encoded

,Nombre,Idiomas,Experiencia,Formacion_Arquitectura,Formacion_Ciencias,Formacion_Economía,Formacion_Ingeniería,Alemán,Español,Francés,Inglés
0,Juan,"[Inglés, Francés]",2 años,False,False,False,True,0,0,1,1
1,María,"[Inglés, Alemán]",3 años,False,True,False,False,1,0,0,1
2,Pedro,[Inglés],1 año,False,False,True,False,0,0,0,1
3,Ana,"[Inglés, Español]",2 años,True,False,False,False,0,1,0,1

In [13]:
# Seleccionamos solo las características relevantes para el modelo
student_features = df_students_encoded.drop(columns=['Nombre'])
job_offer_features = df_job_offers_encoded.drop(columns=['Puesto'])

In [14]:
# Modelado
# Entrenar modelo KNN
k = 2  # número de vecinos
knn = NearestNeighbors(n_neighbors=k, algorithm='auto')
knn.fit(job_offer_features)

ValueError: setting an array element with a sequence.

Tabla que viene desde mongo:
 ---- usuario id |  skill | valor ------
       usuario1    skill1   valor 
       usuario1    skill2   valor

De aqui para ejecutar codigo tenemos que crear potra tabla:
--------| skill 1 |   skill 2   |       |
usuario    valor        valor

In [26]:
data = {
    'id': ['usuario001','usuario001', 'usuario002','usuario002', 'usuario003','usuario003'],
    'skill': ['A', 'B', 'A','B','A', 'B'],
    'valor': [1, 3, 5,6,3,2]
}

df = pd.DataFrame(data)
df

           id skill  valor
0  usuario001     A      1
1  usuario001     B      3
2  usuario002     A      5
3  usuario002     B      6
4  usuario003     A      3
5  usuario003     B      2

In [28]:
data = {
    'id': ['usuario001','usuario001', 'usuario002','usuario002', 'usuario003','usuario003'],
    'skill': ['A', 'B', 'A','B','A', 'B'],
    'valor': [1, 3, 5,6,3,2]
}

df = pd.DataFrame(data)


# Crear el nuevo DataFrame
new_df = df.pivot_table(index='id', columns='skill', values='valor', aggfunc=np.sum)

# Si hay celdas vacías, rellénalas con ceros
new_df = new_df.fillna(0)

new_df

C:\Users\Bridgeschool37\AppData\Local\Temp\ipykernel_15040\2323464675.py:2: FutureWarning: The provided callable <function sum at 0x000002134E2D1F80> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  new_df = df.pivot_table(index='id', columns='skill', values='valor', aggfunc=np.sum)

skill       A  B
id
usuario001  1  3
usuario002  5  6
usuario003  3  2

In [29]:
#Si tenemos una tabla con tres columnas: id/skill/valor
def tabla_usuarios(tabla):
    df=tabla.pivot_table(index='id', columns='skill', values='valor', aggfunc=np.sum)
    df=df.fillna(0)
    return df

In [34]:
#Si tenemos una tabla con tres columnas: id/skill/valor
def tabla_usuarios(tabla):
    df=tabla.pivot_table(index='id', columns='skill', values='valor', aggfunc=np.sum)
    df=df.fillna(0)
    return df

#Prueba: para convertir la tabla que tenemos a la tabla que nos sirve para el algoritmo
data = {
    'id': ['usuario001','usuario001', 'usuario002','usuario002', 'usuario003','usuario003','usuario001'],
    'skill': ['A', 'C', 'A','B','A', 'B','inggles'],
    'valor': [1, 3, 5,6,3,2,9]
}

df = pd.DataFrame(data)
tabla_usuarios(df)

C:\Users\Bridgeschool37\AppData\Local\Temp\ipykernel_15040\3923563784.py:3: FutureWarning: The provided callable <function sum at 0x000002134E2D1F80> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df=tabla.pivot_table(index='id', columns='skill', values='valor', aggfunc=np.sum)

skill         A    B    C  inggles
id
usuario001  1.0  0.0  3.0      9.0
usuario002  5.0  6.0  0.0      0.0
usuario003  3.0  2.0  0.0      0.0