# Filtrar y ordenar datos



### Ej 1. Importar las bibliotecas necesarias.

In [1]:
import numpy as np
import pandas as pd

### Ej 2. Importar el conjunto de datos desde este [path](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) y asignalo a una variable que se llame chipo.

In [3]:
#Cuidado estamos antes un archivo tsb y no csv (fijate al final del link) por eso debemos poner \t
chipo=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep="\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [2]:
#Otra manera de leer archivos TSV 
chipo=pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

Antes que nada miramos la informacion de la columna:

In [4]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [5]:
chipo.describe(include='all')

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

### Ej 3. Nombre del producto de valor máximo.

In [10]:
copia=chipo.copy()
copia['item_price']=[float(x.replace('$','')) for x in copia['item_price']] #Paso los frecios a float
copia

,order_id,quantity,item_name,choice_description,item_price,item price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25,35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00,35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00,35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75,33.75
...,...,...,...,...,...,...
3936,1578,1,Canned Soda,[Diet Dr. Pepper],1.09,1.09
2922,1162,1,Bottled Water,NaN,1.09,1.09
1396,567,1,Canned Soda,[Coca Cola],1.09,1.09
2562,1014,1,Canned Soda,[Coca Cola],1.09,1.09
1457,591,1,Canned Soda,[Sprite],1.09,1.09

In [16]:
maximo=copia['item_price'].max()
copia[copia['item_price']==maximo]['item_name']

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

In [6]:
#OPCION 2: sin usar el for
chipo['item_price']=pd.to_numeric(chipo['item_price'].str.replace('$',''))
chipo['item_price'].max()
chipo=chipo.sort_values(by='item price', ascending=False)

chipo.iloc[0]['item_name']

'Chips and Fresh Tomato Salsa'

In [11]:
#OPCION 3
maximo=copia['item_price'].max()
copia[copia['item_price']==maximo]

,order_id,quantity,item_name,choice_description,item_price,item price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,44.25

Pruebas que he ido haciendo:

In [58]:
precios=np.array([float(x.replace('$','')) for x in chipo['item_price']])
maximo=precios.max()
precios

array([ 2.39,  3.39,  3.39, ..., 11.25,  8.75,  8.75])

In [24]:
#NO PIDE LO SIGUIENTE
valor_max=chipo['item_price'].value_counts().max() #esto cuenta el valor que MAS VECES aparece en item_price KONTUZ
valor_max

#Para sacar el valor maximo de unos valores:
valor_max=chipo['item_price'].max() #Pero en este caso la columna viene en strings. Debemos pasarla a int.
valor_max

730

### Ej 4. ¿Cuántos productos cuestan más de $10.00?

In [18]:
copia.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [21]:
copia.shape #(filas,columnas)

(4622, 5)

In [25]:
#Opcion 1: crea un dataframe solo cuando se cumple la condicion y cuenta las lineas
copia[copia['item_price']>10].shape[0]

1130

In [26]:
#Opcion 2
len(copia[copia['item_price']>10]) #Longitus. Por defecto va por filas

1130

In [27]:
#Opcion 3
contador=copia[copia['item_price']>10].count()['item_price']
contador

1130

In [13]:
#Opcion 4
len(copia.loc[copia.item_price>10])

1130

Extra: Cuántos pedidos se han hecho con un producto de más de 10$

In [30]:
#No he entendido bien lo que pedia ALGO MAL
sum(copia[copia['item_price']>10]['quantity']) #Coge la columna de cantidades y suma sus elemnetos

1314

In [15]:
copia.head()

,order_id,quantity,item_name,choice_description,item_price,item price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25,35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00,35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00,35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75,33.75

In [19]:
#OPCION
filtrados= copia[copia.item_price>10][['order_id','item_price']]
cuantos= filtrados.groupby('order_id').ngroups
cuantos

863

In [20]:
#OTRA OPCION
len(copia.order_id[copia['item_price']>10].unique())

863

### Ej 5. ¿Cuál es el precio de cada artículo? Obtenga solo item_name y unit_price.

In [23]:
ejer_5=pd.DataFrame(chipo, columns=['quantity','item_name','item_price'])
ejer_5

      quantity                     item_name item_price
3598        15  Chips and Fresh Tomato Salsa    $44.25
3480         3                 Carnitas Bowl    $35.25
1254         4               Chicken Burrito    $35.00
3602         4               Chicken Burrito    $35.00
3601         3                Veggie Burrito    $33.75
...        ...                           ...        ...
3936         1                   Canned Soda     $1.09
2922         1                 Bottled Water     $1.09
1396         1                   Canned Soda     $1.09
2562         1                   Canned Soda     $1.09
1457         1                   Canned Soda     $1.09

[4622 rows x 3 columns]

In [25]:
copia.unit_prace=copia.item_price/copia.quantity
resultado=copia[['item_name','unit_price']].drop_duplicate() #MIRAR ESTO!!!!
resultado

C:\Users\Bridgeschool37\AppData\Local\Temp\ipykernel_6440\4208506813.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  copia.unit_prace=copia.item_price/copia.quantity

KeyError: "['unit_price'] not in index"

In [24]:
copia.loc[:,['quantity','item_name','item_price']]

      quantity                     item_name  item_price
3598        15  Chips and Fresh Tomato Salsa       44.25
3480         3                 Carnitas Bowl       35.25
1254         4               Chicken Burrito       35.00
3602         4               Chicken Burrito       35.00
3601         3                Veggie Burrito       33.75
...        ...                           ...         ...
3936         1                   Canned Soda        1.09
2922         1                 Bottled Water        1.09
1396         1                   Canned Soda        1.09
2562         1                   Canned Soda        1.09
1457         1                   Canned Soda        1.09

[4622 rows x 3 columns]

### Ej 6. Ordenar por el nombre del artículo.

In [45]:
#Opcion 1
chipo.sort_values('item_name') #Ordena el dataframe teniendo en cuenta la columna indicada

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

In [48]:
#chipo.sort_values('item_name',ascending=True) lo ordena alfabeticamente
chipo.sort_values('item_name',ascending=False, inplace=False) #Lo ordena al rebes

#Inplace=True: modifica la dataframe original

,order_id,quantity,item_name,choice_description,item_price
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$16.98
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
...,...,...,...,...,...
1916,774,1,6 Pack Soft Drink,[Diet Coke],$6.49
1124,465,1,6 Pack Soft Drink,[Coke],$6.49
3789,1517,1,6 Pack Soft Drink,[Diet Coke],$6.49
1392,566,1,6 Pack Soft Drink,[Diet Coke],$6.49
3614,1448,1,6 Pack Soft Drink,[Nestea],$6.49

### Ej 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 maneras

In [50]:
copia

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [53]:
maximo=max(copia.item_price) #Articulo mas caro
copia[copia.item_price==maximo]['quantity'] #Cantidad

3598    15
Name: quantity, dtype: int64

In [26]:
copia.quantity.max()

15

### Ej 8. ¿Cuántas veces se pidió una ensaladera vegetariana?

In [62]:
sum(chipo[chipo.item_name=='Veggie Salad Bowl']['quantity'])

18

### Ej 9. ¿Cuántas veces alguien pidió más de un refresco enlatado?

In [29]:
len(chipo[(chipo.item_name=='Canned Soda') & (chipo.quantity>1)])

20

In [30]:
chipo[(chipo.item_name=='Canned Soda') & (chipo.quantity>1)].shape[0]

20