# ARCHIVOS

In [1]:
import pandas as pd
import numpy as np
import os
import shutil
import zipfile
import pickle

## Navegando por directorios: libreria os

In [2]:
os.getcwd() #Dirección del directorio actual

'c:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources'

In [7]:
os.chdir('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos') #Cambiar de directorio
os.getcwd()

'C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos'

In [3]:
os.chdir('C:\\Users\\Bridgeschool37\\Desktop\\Data') 
os.listdir() #Directorios que encontramos en el primer nivel de profundidad desde donde estamos

['01_Ramp_Up', '02_Data_Analyst']

In [4]:
tree=os.walk('C:\\Users\\Bridgeschool37\\Desktop\\Data') #Informacion de todas las capas dentro de un directorio concreto
imprimir=[x for x in tree]
imprimir

[('C:\\Users\\Bridgeschool37\\Desktop\\Data',
  ['01_Ramp_Up', '02_Data_Analyst'],
  []),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up',
  ['0-Markdown',
   '1-Basics',
   '2-Flujos de control',
   '3-Colecciones',
   '4-Funciones',
   '5-OOP',
   '6-Modulos',
   '7-Repaso',
   '8-FEB_23',
   '9-Examen'],
  ['introduccion.pdf']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\0-Markdown',
  ['Practica_Alumnos', 'Teoria'],
  ['markdown_cheetsheet.jpg']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\0-Markdown\\Practica_Alumnos',
  ['img'],
  ['Ejercicios markdown.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\0-Markdown\\Practica_Alumnos\\img',
  [],
  ['ejercicios.png',
   'ejercicio_markdown.png',
   'md_ejercicio2.png',
   'python.png']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\0-Markdown\\Teoria',
  ['img'],
  ['error_prueba_2.png', 'Markdown en Jupyter.ipynb', 'Markdown_example.md']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\0-Markdown\\Teoria\\img',
  [],
  ['error_prueba.png',
   'extra_markdown.png',
   'markdown_image.png',
   'md_ejercicio2.png',
   'primer_celda.png',
   'python.jpg',
   'python.png']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\1-Basics',
  ['Practica_Alumnos', 'Teoria'],
  []),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\1-Basics\\Practica_Alumnos',
  ['img'],
  ['Ejercicios_Basics_I.ipynb',
   'Ejercicios_Basics_II.ipynb',
   'Ejercicio_print.ipynb',
   'hola_mundo.ipynb',
   'hola_mundo.py']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\1-Basics\\Practica_Alumnos\\img',
  [],
  ['ejercicios.png', 'frase_Einstein.PNG']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\1-Basics\\Teoria',
  ['img'],
  ['Basics_I.ipynb', 'Basics_II.ipynb', 'pizzas_online.py']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\1-Basics\\Teoria\\img',
  [],
  ['ejercicio.png',
   'ejercicios.png',
   'error.png',
   'frase_Einstein.PNG',
   'python.jpg']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\2-Flujos de control',
  ['Practica _Alumnos', 'Teoria'],
  []),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\2-Flujos de control\\Practica _Alumnos',
  ['img'],
  ['Ejercicios Flujos de Control.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\2-Flujos de control\\Practica _Alumnos\\img',
  [],
  ['ejercicios.png']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\2-Flujos de control\\Teoria',
  ['img'],
  ['Flujos.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\2-Flujos de control\\Teoria\\img',
  [],
  ['break.jpg',
   'continue.jpg',
   'ejercicio.png',
   'ejercicios.png',
   'error.png',
   'for-loop-python.jpg',
   'python.jpg',
   'while-loop.png']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\3-Colecciones',
  ['Practica_alumnos', 'Teoria'],
  []),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\3-Colecciones\\Practica_alumnos',
  ['img'],
  ['Ejercicios Colecciones.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\3-Colecciones\\Practica_alumnos\\img',
  [],
  ['ejercicios.png']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\3-Colecciones\\Teoria',
  ['img'],
  ['Colecciones.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\3-Colecciones\\Teoria\\img',
  [],
  ['ejercicio.png', 'ejercicios.png', 'error.png', 'python.jpg']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\4-Funciones',
  ['Practica_alumnos', 'Teoria'],
  []),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\4-Funciones\\Practica_alumnos',
  ['img'],
  ['Ejercicios funciones.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\4-Funciones\\Practica_alumnos\\img',
  [],
  ['ejercicios.png']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\4-Funciones\\Teoria',
  ['img'],
  ['Funciones.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\4-Funciones\\Teoria\\img',
  [],
  ['ejercicio.png',
   'ejercicios.png',
   'error.png',
   'factorial.png',
   'for_loop.png',
   'funciones.png',
   'python.jpg',
   'recursivity.jpg',
   'while_loop.jpg']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\5-OOP',
  ['Practica_alumnos', 'Teoria'],
  []),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\5-OOP\\Practica_alumnos',
  ['img'],
  ['Ejercicios Clases y Objetos.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\5-OOP\\Practica_alumnos\\img',
  [],
  ['ejercicios.png']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\5-OOP\\Teoria',
  ['img'],
  ['Clases y Objetos.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\5-OOP\\Teoria\\img',
  [],
  ['dogs.jpg', 'ejercicio.png', 'ejercicios.png', 'error.png', 'python.jpg']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\6-Modulos',
  ['Teoria'],
  []),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\6-Modulos\\Teoria',
  ['direc_segundo', 'img', '__pycache__'],
  ['datos_prueba.csv',
   'ejer_prueba.py',
   'Modulos.ipynb',
   'primer_script.py',
   'razorback (1).mp3',
   'razorback.mp3']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\6-Modulos\\Teoria\\direc_segundo',
  ['__pycache__'],
  ['segundo_script.py']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\6-Modulos\\Teoria\\direc_segundo\\__pycache__',
  [],
  ['segundo_script.cpython-311.pyc', 'segundo_script.cpython-37.pyc']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\6-Modulos\\Teoria\\img',
  [],
  ['ejercicio.png', 'ejercicios.png', 'error.png', 'python.jpg']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\6-Modulos\\Teoria\\__pycache__',
  [],
  ['ejer_prueba.cpython-311.pyc',
   'ejer_prueba.cpython-37.pyc',
   'primer_script.cpython-311.pyc',
   'primer_script.cpython-37.pyc']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\7-Repaso',
  [],
  ['1_Ejercicios_Repaso.ipynb',
   '1_Resolucion_Ejercicios_Repaso.ipynb',
   '2_Ejercicios_Repaso_2.ipynb',
   '2_Resolucion_Ejercicios_Repaso_2.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\8-FEB_23',
  [],
  ['Examen_Ramp_Up_FEB23.ipynb', 'Resuelto_Garazi.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\01_Ramp_Up\\9-Examen',
  [],
  ['Examen_Sep2023_Garazi.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst',
  ['0-Matematicas_DS', '1-Numpy', '2-Pandas', '3-Sources', 'Entrega_TR_Sep23'],
  []),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\0-Matematicas_DS',
  ['img'],
  ['1-Algebra_Lineal.ipynb',
   '2-Estadística_descriptiva.ipynb',
   '3-Probabilidad.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\0-Matematicas_DS\\img',
  [],
  ['Bootstrapping.png',
   'caf.png',
   'calamar.PNG',
   'coef_corr.png',
   'correlacion.png',
   'covariance.jpg',
   'curtosis.jpg',
   'ejercicio.png',
   'ejercicios.png',
   'error.png',
   'esp_muestral_monedas.png',
   'Iqr_with_quantile.png',
   'ley_grandes_numeros.png',
   'Measures-of-central-tendency-Robinson.png',
   'monty_hall.jpg',
   'mutuamente_excluyentes - copia.png',
   'mutuamente_excluyentes.png',
   'mutuamente_no_excluyentes.png',
   'paradoja_simpson.jpg_large',
   'parameters.png',
   'pebble.png',
   'percentil.png',
   'poblac_muestra.jpg',
   'python.jpg',
   'Teorema+del+Límite+Central.jpg',
   'teoria_conjuntos.jpg',
   'tipos-asimetria.png']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\1-Numpy',
  ['Practica_Alumnos', 'Teoria'],
  ['Resumen_Numpy.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\1-Numpy\\Practica_Alumnos',
  ['img'],
  ['Ejercicios Numpy I.ipynb', 'Ejercicios Numpy II.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\1-Numpy\\Practica_Alumnos\\img',
  [],
  ['ejercicios.png', 'numpy.png', 'python.jpg']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\1-Numpy\\Teoria',
  ['data', 'img'],
  ['1_Numpy.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\1-Numpy\\Teoria\\data',
  [],
  ['president_heights.csv']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\1-Numpy\\Teoria\\img',
  [],
  ['ejercicio.png',
   'ejercicios.png',
   'error.png',
   'frase_Einstein.PNG',
   'numpy.png',
   'python.jpg']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas',
  ['2-Pandas_Parte_I', '2-Pandas_Parte_II'],
  ['Pandas_basicos.ipynb', 'Pandas_concatenaciones.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_I',
  ['Práctica_Alumnos', 'Teoría'],
  []),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_I\\Práctica_Alumnos',
  ['0-Occupation',
   '1-World_Food_Facts',
   '2-Chipotle',
   '3-Euro12',
   '4-Fictional_Army'],
  []),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_I\\Práctica_Alumnos\\0-Occupation',
  [],
  ['Occupation.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_I\\Práctica_Alumnos\\1-World_Food_Facts',
  [],
  ['food_100.csv', 'World Food Facts.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_I\\Práctica_Alumnos\\2-Chipotle',
  [],
  ['Chipotle.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_I\\Práctica_Alumnos\\3-Euro12',
  [],
  ['Euro12.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_I\\Práctica_Alumnos\\4-Fictional_Army',
  [],
  ['army.csv', 'Fictional Army.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_I\\Teoría',
  ['data'],
  ['1_Introducing-Pandas-Objects.ipynb',
   '2_Data-Indexing-and-Selection.ipynb',
   '3_Operations-in-Pandas.ipynb',
   '4_Handling-Missing-Data.ipynb',
   '6.Concat-And-Append.ipynb',
   'FremontBridge.csv']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_I\\Teoría\\data',
  [],
  ['state-abbrevs.csv', 'state-areas.csv', 'state-population.csv']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_II',
  ['Práctica_Alumnos', 'Teoría'],
  []),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_II\\Práctica_Alumnos',
  ['10-titanic',
   '5-Alcohol_Consumption',
   '6-Occupation',
   '7-Regiment',
   '8-Fictitous_Names',
   '9-Beers'],
  []),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_II\\Práctica_Alumnos\\10-titanic',
  ['data', 'img'],
  ['Titanic-exercise.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_II\\Práctica_Alumnos\\10-titanic\\data',
  [],
  ['titanic.csv']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_II\\Práctica_Alumnos\\10-titanic\\img',
  [],
  ['catplotgen.png', 'kdeplotsur.png']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_II\\Práctica_Alumnos\\5-Alcohol_Consumption',
  [],
  ['Alcohol_Consumption.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_II\\Práctica_Alumnos\\6-Occupation',
  [],
  ['Occupation Grouping.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_II\\Práctica_Alumnos\\7-Regiment',
  [],
  ['Regiment.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_II\\Práctica_Alumnos\\8-Fictitous_Names',
  [],
  ['Fictitous names.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_II\\Práctica_Alumnos\\9-Beers',
  ['data'],
  ['birras_repaso.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_II\\Práctica_Alumnos\\9-Beers\\data',
  [],
  ['datasets_beers.csv', 'datasets_breweries.csv']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_II\\Teoría',
  ['data'],
  ['10.Working-With-Strings.ipynb',
   '11.Working-with-Time-Series.ipynb',
   '7.Merge-and-Join.ipynb',
   '8.Aggregation-and-Grouping.ipynb',
   'FremontBridge.csv']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\2-Pandas\\2-Pandas_Parte_II\\Teoría\\data',
  [],
  ['10.Working-With-Strings.html',
   'state-abbrevs.csv',
   'state-areas.csv',
   'state-population.csv']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources',
  ['Archivos', 'Web', 'Webscrapping'],
  ['Fuentes_Resumen.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos',
  ['Practica_Alumnos', 'Teoria'],
  ['preguntas.py']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos\\Practica_Alumnos',
  ['Hecho_Clase'],
  ['Ejercicio_descargas.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos\\Practica_Alumnos\\Hecho_Clase',
  ['descargas_test'],
  ['clase.py',
   'Ejercicio_descargas.ipynb',
   'funciones.py',
   'main.py',
   'main_class.py',
   'variables.py']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos\\Practica_Alumnos\\Hecho_Clase\\descargas_test',
  [],
  []),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos\\Teoria',
  ['data', 'img'],
  ['importante.txt', 'Lectura_Escritura_Archivos.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos\\Teoria\\data',
  ['extracted_files'],
  ['class_hlf.py',
   'class_hlf.txt',
   'data_file.json',
   'dog_breeds.txt',
   'ejercicio.csv',
   'ejercicio_clase.csv',
   'encoding.csv',
   'file_write.txt',
   'file_writes.txt',
   'importante',
   'importante.txt',
   'laliga.csv',
   'laliga.xlsx',
   'laliga4.csv',
   'laligaExcelWrite.xlsx',
   'laligaPC.csv',
   'laligaTSV.tsv',
   'laligaTXT.txt',
   'laligaWrite.csv',
   'laligaZIP.csv',
   'laligaZIP.zip',
   'Musical_Instruments_5.json',
   'pepe.json',
   'poblacion.csv',
   'preguntas.py',
   'prueba.py']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos\\Teoria\\data\\extracted_files',
  [],
  ['laligaZIP.csv']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos\\Teoria\\img',
  [],
  ['ejercicio.png',
   'ejercicios.png',
   'encoding.jpg',
   'error.png',
   'file.png',
   'importante',
   'json_image.png',
   'path.png',
   'python.jpg',
   'python.png']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Web',
  ['Practica_Alumnos', 'Teoria'],
  []),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Web\\Practica_Alumnos',
  ['data', 'img'],
  ['marvel_characters.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Web\\Practica_Alumnos\\data',
  [],
  ['df_marvel.csv',
   'df_marvel_test.csv',
   'df_marvel_test_M.csv',
   'df_marvel_test_R.csv',
   'df_marvel_test_S.csv',
   'df_marvel_test_X.csv']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Web\\Practica_Alumnos\\img',
  [],
  ['Captura_marvel.PNG']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Web\\Teoria',
  ['data', 'img'],
  ['mutenrroy.jpg', 'Python - Web.pdf', 'Python - Web.pptx', 'Web.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Web\\Teoria\\data',
  ['__MACOSX'],
  ['202106_movements.json',
   'bicis.zip',
   'contenido_api.json',
   'datos_empleo.csv']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Web\\Teoria\\data\\__MACOSX',
  [],
  ['._202106_movements.json']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Web\\Teoria\\img',
  [],
  ['ejercicio.png',
   'ejercicios.png',
   'encoding.jpg',
   'error.png',
   'file.png',
   'importante',
   'json_image.png',
   'path.png',
   'python.jpg',
   'python.png']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Webscrapping',
  ['Practica_Alumnos', 'Teoria'],
  ['README.md']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Webscrapping\\Practica_Alumnos',
  ['data'],
  ['imdb_task.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Webscrapping\\Practica_Alumnos\\data',
  [],
  ['wscraping_imdb.csv']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Webscrapping\\Teoria',
  ['BeautifulSoup'],
  ['Webscraping.pdf', 'Webscraping.pptx']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Webscrapping\\Teoria\\BeautifulSoup',
  ['img'],
  ['BeautifulSoup.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Webscrapping\\Teoria\\BeautifulSoup\\img',
  [],
  ['attribute-example-for-web-scraping-1536x386.png',
   'html-content-web-scraping.png']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\Entrega_TR_Sep23',
  ['Garazi_entrega', 'img'],
  ['Entrega_TR.pdf', 'Entrega_TR_Alumnos.ipynb']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\Entrega_TR_Sep23\\Garazi_entrega',
  [],
  ['Desarrollo_entrega.ipynb',
   'Entrega_Garazi_Salcedo.ipynb',
   'script_entrega.py']),
 ('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\Entrega_TR_Sep23\\img',
  [],
  ['X_vs_O.png'])]

In [5]:
os.walk(os.getcwd()) #para no tener que escribir a mano la direccion

### Crear, eliminar y modificar directorios

In [45]:
os.getcwd()

'C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos'

In [9]:
os.mkdir('directorio_de_prueba') #Crea un directorio en la direccion que estamos

In [10]:
os.rmdir('directorio_de_prueba') #Borra el directorio indicado

### Borrar fitxeros

In [ ]:
os.remove('direccion del fitxero')

## Lectura y escritura

### Lectura

```Python
open("filename", "mode")
```

> **mode**
>
> 'r': open for reading (default)
>
> 'w': open for writing, truncating the file first
>
> 'x': open for exclusive creation, failing if the file already exists
>
> 'a': open for writing, appending to the end of file if it exists
>
> 'b': binary mode
>
> 't': text mode (default)
>
> '+': open for updating (reading and writing)

In [11]:
os.getcwd()

'C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos'

`.read()`

In [12]:
#Imprime linea a linea (cada linea es hasta que encuentra un salto d linea: \n )
with open('Teoria\\data\\dog_breeds.txt') as archivo_abierto:
    print(archivo_abierto.read())

#Podemos hacer lo mismo con la ruta absoluta:
#with open('C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos\\Teoria\\data\\dog_breeds.txt') as archivo_abierto:

Pug
Jack Russell Terrier
English Springer Spaniel
German Shepherd
Staffordshire Bull Terrier
Cavalier King Charles Spaniel
Golden Retriever
West Highland White Terrier
Boxer
Border Terrier

`.readlines()`

In [13]:
with open('Teoria\\data\\dog_breeds.txt') as archivo_abierto:
    print(archivo_abierto.readlines())

['Pug\n', 'Jack Russell Terrier\n', 'English Springer Spaniel\n', 'German Shepherd\n', 'Staffordshire Bull Terrier\n', 'Cavalier King Charles Spaniel\n', 'Golden Retriever\n', 'West Highland White Terrier\n', 'Boxer\n', 'Border Terrier']

In [14]:
with open('Teoria\\data\\dog_breeds.txt') as archivo_abierto:
    for linea in archivo_abierto.readlines():
        print(linea, end='')

Pug
Jack Russell Terrier
English Springer Spaniel
German Shepherd
Staffordshire Bull Terrier
Cavalier King Charles Spaniel
Golden Retriever
West Highland White Terrier
Boxer
Border Terrier

### Escritura

`.write()`

In [49]:
os.getcwd()

'C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos'

In [16]:
with open('preguntas.py','w') as nuevo:
    nuevo.write('#Primera linea \n')
    nuevo.write('#Segunda linea')

Siempre que queramos editar un fichero existente, debemos abrirlo editarlo y CERRARLO.

In [52]:
f = open("lineas.txt", "w")

for i in range(10):
    f.write("Line:" + str(i))
    
f.close() #IMPORTANTE HACER ESTO

### Mover ficheros: libreria shutil

In [51]:
os.getcwd()

'C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos'

In [53]:
shutil.move('lineas.txt','Teoria') #Lo movemos de un lugar a otro

'Teoria\\lineas.txt'

## Tipos de archivos

### 1. CSV
`pd.read_csv()`

Lee diferentes archivos: .csv, .tsv, .txt
- `filepath_or_buffer`: ruta donde está el CSV
- `sep`: el separador de los datos, por defecto es coma, pero podría ser otro como veremos en ejemplos posteriores.
- `header`: dónde se encuentran los nombre de columnas. Por defecto es en la primera línea.

In [17]:
os.getcwd()

'C:\\Users\\Bridgeschool37\\Desktop\\Data\\02_Data_Analyst\\3-Sources\\Archivos'

In [19]:
df = pd.read_csv('Teoria/data/laliga.csv')
df.head(2)

,Unnamed: 0,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600

In [24]:
#Hay tablas que tienen indices especificos (en este caso unamed:0).
#En estos casoss debemos indicar el indice
df=pd.read_csv('Teoria/data/laliga.csv', index_col="Unnamed: 0")
df.head(2)

,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
26201,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
26202,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600

In [22]:
df.index #Para acceder a los indices
#df.index = range(1, df.shape[0] + 1) podemos cambiar como queramos el formato de los indices

Index([26201, 26202, 26203, 26204, 26205, 26206, 26207, 26208, 26209, 26210,
       ...
       36675, 36676, 36677, 36678, 36679, 36680, 36681, 36682, 36683, 36684],
      dtype='int64', length=4940)

In [23]:
df.reset_index(inplace=False, drop=True) #Volver a los indices naturales

,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,2005-06,1,1,Atletico de Bilbao,Real Sociedad,3,0,27/08/2005,1125093600
1,2005-06,1,1,Alaves,Barcelona,0,0,27/08/2005,1125093600
2,2005-06,1,1,Valencia,Betis,1,0,27/08/2005,1125093600
3,2005-06,1,1,Atletico de Madrid,Zaragoza,0,0,28/08/2005,1125180000
4,2005-06,1,1,Cadiz,Real Madrid,1,2,28/08/2005,1125180000
...,...,...,...,...,...,...,...,...,...
4935,2017-18,1,38,Villarreal,Real Madrid,2,2,19/05/2018,1526680800
4936,2017-18,1,38,Atletico de Bilbao,Espanol,0,1,20/05/2018,1526767200
4937,2017-18,1,38,Barcelona,Real Sociedad,1,0,20/05/2018,1526767200
4938,2017-18,1,38,Valencia,Deportivo,2,1,20/05/2018,1526767200
4939,2017-18,1,38,Atletico de Madrid,Eibar,2,2,20/05/2018,1526767200

Tipo de datos:

In [28]:
df.dtypes

Unnamed: 0    object
division       int64
localTeam     object
dtype: object

In [26]:
df = pd.read_csv("Teoria/data/laliga.csv",
                usecols = ['Unnamed: 0', 'division', 'localTeam'], #puede que solo queramos algunas columnas
                dtype = {'Unnamed: 0': object, #A traves de un diccionario podemos cambiar de que tipo es cada elemento
                         'division': np.int64,
                         'localTeam': object})

df.head()

  Unnamed: 0  division           localTeam
0      26201         1  Atletico de Bilbao
1      26202         1              Alaves
2      26203         1            Valencia
3      26204         1  Atletico de Madrid
4      26205         1               Cadiz

`to_csv()`

Podemos crear un DataFrame y guardarlo como archivo csv.

In [29]:
poblacion = pd.Series({"Madrid": 6685471, "Galicia": 2698764,
                       "Murcia": 1494442, "Andalucia": 8446561})

superficie = pd.Series([8028, 29575, 11314, 87599],
                       index = ["Madrid", "Galicia", "Murcia", "Andalucia"])

df=pd.DataFrame({'Poblacion':poblacion,'Superficie':superficie})

In [30]:
df.to_csv('Teoria/data/prueba_to.csv', sep=';')

Leemos lo guardado:

In [33]:
pd.read_csv('Teoria/data/prueba_to.csv', sep=';', index_col='Unnamed: 0')

           Poblacion  Superficie
Madrid       6685471        8028
Galicia      2698764       29575
Murcia       1494442       11314
Andalucia    8446561       87599

### 2. Excel

`pd.read_excel()`

- `io`: dónde está el archivo
- `sheet_name`: el nombre de la hoja
- `header`: dónde está la cabecera
- `usecols`: indica el rango de columnas Excel en el que se encuentran. Por ejemplo: 'A:F'
- `skiprows`: filas que deberia ignorar

In [37]:
pd.read_excel('Teoria/data/laliga.xlsx', sheet_name='Hoja3').head(5)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Column1,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
2,NaN,26201,2005-06-01 00:00:00,1,1,Atletico de Bilbao,Real Sociedad,3,0,2005-08-27 00:00:00,1125093600
3,NaN,26202,2005-06-01 00:00:00,1,1,Alaves,Barcelona,0,0,2005-08-27 00:00:00,1125093600
4,NaN,26203,2005-06-01 00:00:00,1,1,Valencia,Betis,1,0,2005-08-27 00:00:00,1125093600

In [38]:
#Observamos que los datos no empiezan en el inicio de la tabla. Especificar:
pd.read_excel('Teoria/data/laliga.xlsx', sheet_name='Hoja3', header=2, usecols='B:K').head()

,Column1,season,division,round,localTeam,visitorTeam,localGoals,visitorGoals,date,timestamp
0,26201,2005-06-01,1,1,Atletico de Bilbao,Real Sociedad,3,0,2005-08-27,1125093600
1,26202,2005-06-01,1,1,Alaves,Barcelona,0,0,2005-08-27,1125093600
2,26203,2005-06-01,1,1,Valencia,Betis,1,0,2005-08-27,1125093600
3,26204,2005-06-01,1,1,Atletico de Madrid,Zaragoza,0,0,2005-08-28,1125180000
4,26205,2005-06-01,1,1,Cadiz,Real Madrid,1,2,2005-08-28,1125180000

In [ ]:
#dentro de read_excell(), nrows=numero de lineas que queramos que nos lea

`to_excel()`

In [39]:
poblacion = pd.Series({"Madrid": 6685471, "Galicia": 2698764,
                       "Murcia": 1494442, "Andalucia": 8446561})

superficie = pd.Series([8028, 29575, 11314, 87599],
                       index = ["Madrid", "Galicia", "Murcia", "Andalucia"])

df=pd.DataFrame({'Poblacion':poblacion,'Superficie':superficie})

In [40]:
df.to_excel('Teoria/data/prueba_exc.xlsx')

### 4. JSON

### 5. ZIP

In [42]:
with zipfile.ZipFile('Teoria/data/laligaZIP.zip') as zip_ref: 
    zip_ref.extractall('data') #Extrae el contenido del archivo y lo guarda donde le indicamos ('destino')

In [43]:
with zipfile.ZipFile('Teoria/data/laligaZIP.zip') as zip_ref:
    zip_ref.extract('laligaZIP.csv','data/extracted_files')

### 6. Pickle

Nos permite guardar objetos python y recuperarlos mas adelante.