In [ ]:
import pandas as pd
import mysql.connector

<h1><center>Ejercicios de Fundamentos de Programación y BBDD</center></h1>
<h3><center>Repaso</center></h3>

<h3>1. Completa los siguientes apartados.</h3>

1. <font color="blue">Desarrolla una función que reciba dos palabras cualesquiera y devuelva el número de letras que tienen en común.</font>

In [1]:
def n_letras(pal1,pal2):
    
    n = len(pal1)
    m = len(pal2)
    p = min(m,n) #para optimizar: nos quedamos con la longitud minima
    
    let_list = []
    
    if p == n: 
        
        for i in range(p):
            
            if pal1[i] in pal2 and pal1[i] not in let_list:
                let_list.append(pal1[i])
    
    else:
        
        for i in range(p):
            
            if pal2[i] in pal1 and pal2[i] not in let_list:
                let_list.append(pal2[i])
    
    let_cont = len(let_list)
    
    return let_cont

#tambien podemos hacer calculando la interseccion de dos sets

In [5]:
def n_letras(pal1,pal2):
    set1=set(pal1)
    set2=set(pal2)
    return len(list(set1&set2))

In [6]:
pal1 = 'camara' 
pal2 = 'vaca'

n_letras(pal1, pal2)

2

2. <font color="blue">Un número primo es aquel número que solo es divisible por 1 y por si mismo (2,3,5,7,11,13,...). Define una función que pida al usuario un número natural mayor que 2 y devuelva si se trata de un número primo o no.</font>

In [ ]:
def primo(n):
    
    for i in range(2,n): #de 2 a n-1
        
        if n%i==0:
            return 'No es primo'
        
    return 'Es primo'

In [ ]:
n = int(input('Introduce un número entero mayor que 2, '))

primo(n)

3. <font color="blue">Definir una función que dada una dirección de archivo (’***Archivos/Nombres.txt***’),
lea linea por linea los nombres que se encuentran y devuelva una lista con los nombres
sin repetir y en orden alfabéico.</font>

In [ ]:
def nombres(direct):
    
    name_list = []
    
    archivo = open(direct)
    filas = archivo.readlines()
    
    n= len(filas)
    
    for i in range(n):
        
        name_clean = filas[i][:-1]
        
        if name_clean not in name_list:
            name_list.append(name_clean)
    
    archivo.close()
    
    name_list.sort()
    
    return name_list

In [ ]:
direct = 'Archivos/Nombres.txt'

nombres(direct)

4. <font color="blue">Desarrollar una función en la que se vaya pidiendo números reales al usuario (uno
por uno) y una vez el usuario ingrese la palabra ***terminar***, la función devuelva el valor máximo y mínimo de los números ingresados por el usuario.</font>

In [1]:
def max_min():
    
    n = input('Introduce un número real, ')
    
    if n == 'terminar':
        return 'No se han introducido números reales.'
    
    n = float(n)
    
    n_max = n
    n_min = n
    
    while True:
        
        n = input('Introduce un número real, ')
        
        if n=='terminar':

            result = 'El valor máximo introducido es '+ str(n_max)+', el valor mínimo introducido es ' + str(n_min) + '.'        
    
            return result
        
        else:
            
            n = float(n)
            if n>n_max: 
                n_max = n
                
            elif n<n_min:
                n_min = n
            
    #result = 'El valor máximo introducido es '+ str(n_max)+', el valor mínimo introducido es ' + str(n_min) + '.'        
    
    #return result

In [2]:
max_min()

ValueError: could not convert string to float: 'tERMINAR'

5. <font color="blue">Desarrollar una función que reciba como entrada una lista de palabras y devuelva la longitud de la palabra más larga y la palabra más larga.</font>

In [3]:
def palabras(list_pal):
    
    long_pal = 0
    n = len(list_pal)
    
    for i in range(n):
        
        m = len(list_pal[i])
        if m>long_pal:
            
            long_pal = m
            pal = list_pal[i]
            
    return long_pal, pal

In [4]:
list_pal = ['coche', 'melocoton', 'moto', 'albaricoque']

palabras(list_pal)

(11, 'albaricoque')

6. <font color="blue">Definir una función que reciba una cadena de caracteres y devuelva un diccionario cuyas claves sean las cinco vocales y sus valores sean sus frecuencias dentro de la cadena respectivamente.</font>

In [5]:
def freq_voc(cad):
    
    vocal_dict = {'a':0, 'e':0, 'i':0, 'o':0, 'u':0}
    n = len(cad)
    
    for i in range(n):
        
        if cad[i]=='a':
            vocal_dict['a'] += 1
        
        elif cad[i]=='e':
            vocal_dict['e'] += 1
        
        elif cad[i]=='i':
            vocal_dict['i'] += 1
        
        elif cad[i]=='o':
            vocal_dict['o'] += 1
        
        elif cad[i]=='u':
            vocal_dict['u'] += 1
    
    return vocal_dict


def freq_voc2(cad):
    
    vocal_dict = {'a':0, 'e':0, 'i':0, 'o':0, 'u':0}
    n = len(cad)
    
    for i in range(n):
        
        if cad[i] in vocal_dict.keys():
            vocal_dict[cad[i]] += 1
        
    return vocal_dict

In [6]:
cad = 'Buenos dias ¿Que tal? Me llamo David.'

freq_voc2(cad)

{'a': 4, 'e': 3, 'i': 2, 'o': 2, 'u': 2}

7. <font color="blue">Definir un programa que pida al usuario dos palabras y devuelva ***True*** si las palabras riman y ***False*** si las palabras no riman.</font>

In [3]:
def rima(pal1, pal2):
    
    n = len(pal1)
    m = len(pal2)
    p = min(m,n)
    
    for i in range(2,p):
        
        if pal1[-i:]==pal2[-i:]:
            return True
        
    return False

In [4]:
pal1 = 'camion'
pal2 = 'pan'

rima(pal1, pal2)

False

8. <font color="blue">Desarrollar una función que reciba una lista de números y devuelva una lista de listas (lista = [$\text{sublista}_{1}$,$\text{sublista}_{2}$,$\text{sublista}_{3}$]), en la que cada sublista contendrá determinados números.</font>

* <font color="blue">sublista1: los números que tengan de 1-6 cifras.</font>
* <font color="blue">sublista2: los números que tengan de 7-12 cifras.</font>
* <font color="blue">sublista3: los números que tengan más de 12 cifras.</font>

<font color="blue">**Nota**: cuidado cuando tengamos un número negativo o con decimales.</font>

In [1]:
def numeros(list_num):
    
    cifras1 = []
    cifras2 = []
    cifras3 = []
    n = len(list_num)
    
    for i in range(n):
        
        temp_num = str(list_num[i]).split('-')[-1].split('.')
        cif = 0
        m = len(temp_num)
        
        for j in range(m):
            
            cif += len(temp_num[j])
            
        if cif<=6:
            cifras1.append(list_num[i])
        
        elif cif<=12:
            cifras2.append(list_num[i])
        
        else:
            cifras3.append(list_num[i])
    
    cifras = [cifras1, cifras2, cifras3]
        
    return cifras

In [2]:
list_num = [-3435.435, 35454.334232, 7889890, 687806.56545, -24, 56676.353, 89364, 32988345876578326492384]

numeros(list_num)

[[-24, 89364],
 [-3435.435, 35454.334232, 7889890, 687806.56545, 56676.353],
 [32988345876578326492384]]

9. <font color='blue'>Introduce la siguiente información en un **DataFrame** y realiza las operaciones que se indican.</font>


|   | **Animal** | **Edad** | **Prioridad** | **Visitas** |
|:-:|:----------:|:--------:|:-------------:|:-----------:|
| a | gato       | 2.5      | Si            | 7           |
| b | gato       | 3.0      | Si            | 4           |
| c | lagarto    | 0.5      | No            | 3           |
| d | perro      | NaN      | Si            | 6           |
| e | gato       | 2.0      | No            | 1           |
| f | perro      | 5.0      | No            | 2           |
| g | lagarto    | 4.5      | No            | 5           |
| h | gato       | NaN      | Si            | 3           |
| i | perro      | 7.0      | No            | 1           |
| j | perro      | 3.0      | No            | 6           |

* <font color='blue'>Crea el ***DataFrame*** con la información mostrada.</font>
* <font color='blue'>Mostrar por pantalla el número de filas y de columnas del ***DataFrame***.</font>
* <font color='blue'>Se quiere aplicar una promoción sobre aquellas mascotas que han estado más de 4 veces en la clínica veterinaria. Por lo tanto, hay que crear una nueva columna llamada ’***Promo***’ en la que aparezca ***True*** si la mascota accede a la promoción y ***False*** cuando no acceda a la promoción.</font>
* <font color='blue'>Mostrar por pantalla aquellas mascotas que sean perros y accedan a la promoción.</font>
* <font color='blue'>Mostrar por pantalla la información relativa a la promoción sobre los gatos mayores de 2 años que hayan asistido a la clínica.</font>
* <font color='blue'>Mostrar por pantalla el número de mascotas con prioridad y el número de mascotas que no tienen prioridad.</font>
* <font color='blue'>Calcular la media de edad de los lagartos.</font>
* <font color='blue'>Calcula el número de animales de cada tipo.</font>

In [ ]:
import numpy as np

info = {'Animal':['gato', 'gato','lagarto','perro','gato','perro','lagarto','gato','perro','perro'],
       'Edad':[2.5, 3.0, 0.5, np.nan, 2.0, 5.0, 4.5, np.nan, 7.0, 3.0],
       'Prioridad':['Si', 'Si', 'No', 'Si', 'No', 'No', 'No', 'Si', 'No', 'No'],
       'Visitas':[7, 4, 3, 6, 1, 2, 5, 3, 1, 6]}

df_animales = pd.DataFrame(info, index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

In [ ]:
df_animales.shape

In [ ]:
df_animales['Promo'] = df_animales['Visitas']>4

df_animales.head()

In [ ]:
print(df_animales[(df_animales['Animal']=='perro') & (df_animales['Promo']==True)])

In [ ]:
print(df_animales[(df_animales['Animal']=='gato') & (df_animales['Edad']>2)]['Promo'])

In [ ]:
print(sum(df_animales['Prioridad']=='Si'), sum(df_animales['Prioridad']=='No'))

In [ ]:
print(df_animales[(df_animales['Animal']=='lagarto')]['Edad'].mean())

print(sum(df_animales[(df_animales['Animal']=='lagarto')]['Edad'])/len(df_animales[(df_animales['Animal']=='lagarto')]['Edad']))

In [ ]:
df_animales['Animal'].value_counts()

In [ ]:
df_animales[df_animales['Animal']=='gato'][['Edad','Prioridad']]

10. <font color='blue'>Realiza las operaciones que se indican.</font>

* <font color='blue'>Crea un ***DataFrame*** con la información del IBEX 35 (***IBEX.csv***).</font>
* <font color='blue'>Mostrar por pantalla el número de filas y columnas.</font>
* <font color='blue'>Mostrar por pantalla una muestra de 7 registros.</font>
* <font color='blue'>Mostrar por pantalla la primera y última fecha.</font>
* <font color='blue'>Crear una nueva variable, ***Diferencia***, que represente el resultado de calcular la diferencia entre el valor de apertura y el valor de cierre.</font>
* <font color='blue'>Calcula la media de la variable ***Diferencia***.</font>
* <font color='blue'>Calcula el número de veces que la variable ***Diferencia*** ha tomado valores positivos.</font>
* <font color='blue'>Calcula el número de veces que la variable ***Diferencia*** ha tomado valores negativos.</font>
* <font color='blue'>Muestra por pantalla el valor del IBEX 35 el primer día laborable de 2022 y el último día de 2022.</font>
* <font color='blue'>¿Existen diferencias entre el valor de cierre y el valor de cierre ajustado?</font>
* <font color='blue'>Crea un archivo excel con el ***DataFrame*** creado, ***IBEX35.xlsx***.</font>

In [ ]:
df_IBEX = pd.read_csv('Datos/IBEX.csv')

df_IBEX.head()

In [ ]:
df_IBEX.shape

In [ ]:
df_IBEX.head(7)

In [ ]:
df_IBEX.loc[[0,(df_IBEX.shape[0]-1)],['Date']]

In [ ]:
df_IBEX['Diferencia'] = df_IBEX['Open'] - df_IBEX['Close']

df_IBEX.head()

In [ ]:
df_IBEX['Diferencia'].mean()

In [ ]:
sum(df_IBEX['Diferencia']>0)

In [ ]:
sum(df_IBEX['Diferencia']<0)

In [ ]:
df_IBEX[(df_IBEX['Date']=='2022-01-03') | (df_IBEX['Date']=='2022-11-04')]

In [ ]:
sum(df_IBEX['Close'] - df_IBEX['Adj Close']) # No hay diferencias

In [ ]:
df_IBEX.to_excel('IBEX35.xlsx')

11. <font color='blue'>Completa las siguientes tareas.</font>

* <font color='blue'>Crear una tabla con la información del IBEX 35 en tu BBDD MySQL.</font>
* <font color='blue'>Realiza una query que muestre los valores de la variable ***Máximo***.</font>
* <font color='blue'>Realiza una query que muestre los valores de la variable ***Fecha*** y ***Máximo*** en orden ascendente (respecto a ***Máximo***).</font>

In [ ]:
usuario = "xabier.garitano" # Cada uno tiene que introducir su nombre de usuario.
contrasena = "MU0Asfabrik" # La contraseña es la misma para todos los alumnos.
ruta = "165.22.92.63"
database_name = 'xabier.garitano'

conn = mysql.connector.connect(user=usuario, password=contrasena, host=ruta, auth_plugin='mysql_native_password')

cur = conn.cursor() # creamos un cursor que utilizaremos para ejecutar sentencias SQL
cur.execute('SHOW DATABASES') # ejecutamos mediante el métido execute()
print(cur.fetchall())
conn.close()

In [ ]:
conn = mysql.connector.connect(user=usuario, password=contrasena, host=ruta, database = database_name)
cur = conn.cursor() 


try:
    df = pd.read_csv('Datos/IBEX.csv')
    df_list = list(df.itertuples(index=False, name=None))
    n = df.shape[0]
    cur.execute(f'''USE {database_name}''') 
    # RELLENA ESTA SENTENCIA
    cur.execute(f'''CREATE TABLE IF NOT EXISTS IBEX(Date VARCHAR(15),Open FLOAT,High FLOAT,Low FLOAT,Close FLOAT,
    Adj_Close FLOAT,Volume FLOAT)  
                ''') 
    for i in range(n):
        # RELLENAR
        fila = df_list[i]
        cur.execute('''INSERT INTO IBEX(Date,Open,High,Low,Close,Adj_Close,Volume) 
        VALUES (%s, %s, %s, %s, %s, %s,%s)''',
        fila) 
        conn.commit() 
except mysql.connector.Error as err:
    print(err)
    conn.rollback() 
finally:
    conn.close()

In [ ]:
sql = 'SELECT High FROM IBEX'

conn = mysql.connector.connect(user=usuario, password=contrasena, host=ruta, database = database_name)
resultado = pd.read_sql(sql, conn)
conn.close()

resultado

In [ ]:
sql = 'SELECT Date, High FROM IBEX ORDER BY High ASC'

conn = mysql.connector.connect(user=usuario, password=contrasena, host=ruta, database = database_name)
resultado = pd.read_sql(sql, conn)
conn.close()

resultado

12. <font color='blue'>Completa las siguientes tareas.</font>

* <font color='blue'>Crear una tabla con la información de los pasajeros del titanic en tu BBDD MySQL.</font>
* <font color='blue'>Realiza una query que muestre la cantidad de pasajeros por cada clase.</font>
* <font color='blue'>Realiza una query que muestre la cantidad de pasajeros que sobrevivieron.</font>
* <font color='blue'>Realiza una query que muestre los distintos valores que toma la variable ***Embarked***.</font>

In [ ]:
usuario = "xabier.garitano" # Cada uno tiene que introducir su nombre de usuario.
contrasena = "MU0Asfabrik" # La contraseña es la misma para todos los alumnos.
ruta = "165.22.92.63"
database_name = 'xabier.garitano'

conn = mysql.connector.connect(user=usuario, password=contrasena, host=ruta, auth_plugin='mysql_native_password')

cur = conn.cursor() # creamos un cursor que utilizaremos para ejecutar sentencias SQL
cur.execute('SHOW DATABASES') # ejecutamos mediante el métido execute()
print(cur.fetchall())
conn.close()

In [ ]:
conn = mysql.connector.connect(user=usuario, password=contrasena, host=ruta, database = database_name, auth_plugin='mysql_native_password')

cur = conn.cursor() # creamos un cursor que utilizaremos para ejecutar sentencias SQL
cur.execute('DROP TABLE titanic') # ejecutamos mediante el métido execute()
print(cur.fetchall())
conn.close()

In [ ]:
conn = mysql.connector.connect(user=usuario, password=contrasena, host=ruta, database = database_name)
cur = conn.cursor() 


try:
    df = pd.read_csv('Datos/titanic.csv')
    del df['Name']
    print(df.head())
    df_list = list(df.itertuples(index=False, name=None))
    n = df.shape[0]
    print(n)
    cur.execute(f'''USE {database_name}''') 
    # RELLENA ESTA SENTENCIA
    cur.execute(f'''CREATE TABLE IF NOT EXISTS titanic(PassengerId VARCHAR(5), Survived VARCHAR(5), Pclass VARCHAR(1), 
    Sex VARCHAR(15), Age INT, SibSp INT, Parch INT, Ticket VARCHAR(50), Fare FLOAT, Cabin VARCHAR(15), 
    Embarked VARCHAR(5)) ''') 
    for i in range(n):
        # RELLENAR
        fila = df_list[i]
        cur.execute('''INSERT INTO titanic(PassengerId, Survived, Pclass, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked) 
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)''',
        fila) 
        conn.commit() 
except mysql.connector.Error as err:
    print(err)
    conn.rollback() 
finally:
    conn.close()

In [ ]:
sql = 'SELECT COUNT(*) FROM titanic WHERE Pclass=1'

conn = mysql.connector.connect(user=usuario, password=contrasena, host=ruta, database = database_name)
resultado = pd.read_sql(sql, conn)
conn.close()

resultado

In [ ]:
sql = 'SELECT COUNT(*) FROM titanic WHERE Pclass=2'

conn = mysql.connector.connect(user=usuario, password=contrasena, host=ruta, database = database_name)
resultado = pd.read_sql(sql, conn)
conn.close()

resultado

In [ ]:
sql = 'SELECT COUNT(*) FROM titanic WHERE Pclass=3'

conn = mysql.connector.connect(user=usuario, password=contrasena, host=ruta, database = database_name)
resultado = pd.read_sql(sql, conn)
conn.close()

resultado

In [ ]:
sql = 'SELECT COUNT(*) FROM titanic WHERE Survived=1'

conn = mysql.connector.connect(user=usuario, password=contrasena, host=ruta, database = database_name)
resultado = pd.read_sql(sql, conn)
conn.close()

resultado

In [ ]:
sql = 'SELECT DISTINCT(Embarked) FROM titanic'

conn = mysql.connector.connect(user=usuario, password=contrasena, host=ruta, database = database_name)
resultado = pd.read_sql(sql, conn)
conn.close()

resultado